.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  @include media-up(md) {
    width: 512px;
  }

  @include media-up(lg) {
    width: 768px;
  }

  @include media-up(xl) {
    width: 1024px;
  }

  @include media-up(xxl) {
    width: 1200px;
  }
}
