body {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  display: flex;
}

#sections {
  padding: 1rem;
  width: 100%;
  margin-top: 60px;
  @include media-up(lg) {
    margin-left: 60px;
    margin-top: 0;
  }
  .sections-container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    @include media-up(lg) {
      justify-content: space-around;
      align-items: center;
    }
    @include media-up(xxxl) {
      max-width: 1800px;
      margin: 0 auto;
    }
  }
}

canvas {
  display: block;
  background: hsl(0, 0%, 0%);
  position: fixed;
  top: 0;
  z-index: -1;
}
