// Classes and rules for theme changed must write here.

body {
  background: $colorBg;
  color: $colorText;
}

.bg-accent {
  background: $colorAccentDark;
}
.text-accent {
  color: $colorAccent;
}
.text-accentDark {
  color: $colorAccentDark;
}
.text-inverse {
  color: $colorText2;
}
