<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
</head>

<body>
  <%= require('html-loader!./partials/side.html').default %>
  <div id="sections">
    <div class="sections-container">
      <%= require('html-loader!./partials/skills.html').default %>
      <%= require('html-loader!./partials/projects.html').default %>
      <%= require('html-loader!./partials/contacts.html').default %>
    </div>
  </div>
  <canvas id="matrix"></canvas>
</body>

</html>
