<section class="section" id="anchor-projects">
  <div class="section__blur">
    <h3 class="section__title"><b class="text-accent">#p</b>rojects</h3>
    <section class="splide projects__container" style="width: 768px" aria-labelledby="carousel-heading">
      <div class="splide__track">
        <ul class="splide__list" id="projectsList">
          <li class="splide__slide project">
            <div class="project__img">
              <img class="project__icon" src="./../../assets/svg/folder.svg" alt="folder">
            </div>
            <div class="project__info">
              <h4 class="project__title">BLogo</h4>
              <div class="description">
                <p>Simple blog project used Laravel, InertiaJs and Vue3.</p>
                <p>Local development environment configured with docker and makefile.</p>
                <p><a href="https://github.com/vlsvl/blogo" target="_blank">Link →</a></p>
              </div>
            </div>
          </li>
          <li class="splide__slide project">
            <div class="project__img">
              <img class="project__icon" src="./../../assets/svg/folder.svg" alt="folder">
            </div>
            <div class="project__info">
              <h4 class="project__title">Microblogo</h4>
              <div class="description">
                <p>Started implementation blog platform with microservices architecture.</p>
                <p>Backend laravel, lumen. Frontent Nuxt.</p>
                <p><a href="https://github.com/vlsvl/microblogo" target="_blank">Link →</a></p>
              </div>
            </div>
          </li>
          <li class="splide__slide project">
            <div class="project__img">
              <img class="project__icon" src="./../../assets/svg/folder.svg" alt="folder">
            </div>
            <div class="project__info">
              <h4 class="project__title">Lardo</h4>
              <div class="description">
                <p>Docker container for laravel application. Used in local env.</p>
                <p>Setup with alpine linux, php8, php-fpm, supervisor.</p>
                <p><a href="https://github.com/vlsvl/lardo" target="_blank">Link →</a></p>
              </div>
            </div>
          </li>
          <li class="splide__slide project">
            <div class="project__img">
              <img class="project__icon" src="./../../assets/svg/folder.svg" alt="folder">
            </div>
            <div class="project__info">
              <h4 class="project__title">vlsvl.github.io</h4>
              <div class="description">
                <p>This page repository.</p>
                <p>Used webpack for develop. And github action for simple deploy.</p>
                <p><a href="https://github.com/vlsvl/vlsvl.github.io" target="_blank">Link →</a></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</section>
