<section class="section" id="anchor-skills">
  <div class="section__blur">
    <h3 class="section__title"><b class="text-accent">#s</b>kills</h3>
    <div class="skills">
      <div class="skill">
        <img class="skill__icon" src="./../../assets/svg/html5.svg" alt="html">
        <h4 class="skill__title">html</h4>
      </div>
      <div class="skill">
        <img class="skill__icon" src="./../../assets/svg/css3.svg" alt="css">
        <h4 class="skill__title">css</h4>
      </div>
      <div class="skill">
        <img class="skill__icon" src="./../../assets/svg/php.svg" alt="php">
        <h4 class="skill__title">php</h4>
      </div>
      <div class="skill">
        <img class="skill__icon" src="./../../assets/svg/js.svg" alt="js">
        <h4 class="skill__title">js</h4>
      </div>
      <div class="skill">
        <img class="skill__icon" src="./../../assets/svg/vuejs.svg" alt="vue">
        <h4 class="skill__title">vue</h4>
      </div>
      <div class="skill">
        <img class="skill__icon" src="./../../assets/svg/laravel.svg" alt="laravel">
        <h4 class="skill__title">laravel</h4>
      </div>
      <div class="skill">
        <img class="skill__icon" src="./../../assets/svg/symfony.svg" alt="symfony">
        <h4 class="skill__title">symfony</h4>
      </div>
      <div class="skill">
        <img class="skill__icon" src="./../../assets/svg/sass.svg" alt="sass">
        <h4 class="skill__title">sass</h4>
      </div>
      <div class="skill">
        <img class="skill__icon" src="./../../assets/svg/docker.svg" alt="docker">
        <h4 class="skill__title">docker</h4>
      </div>
      <div class="skill">
        <img class="skill__icon" src="./../../assets/svg/webpack.svg" alt="webpack">
        <h4 class="skill__title">webpack</h4>
      </div>
      <div class="skill">
        <img class="skill__icon" src="./../../assets/svg/gulp.svg" alt="gulp">
        <h4 class="skill__title">gulp</h4>
      </div>
      <div class="skill">
        <img class="skill__icon" src="./../../assets/svg/bash.svg" alt="bash">
        <h4 class="skill__title">bash</h4>
      </div>
      <div class="skill">
        <img class="skill__icon" src="./../../assets/svg/pgsql.svg" alt="pgsql">
        <h4 class="skill__title">pgsql</h4>
      </div>
      <div class="skill">
        <img class="skill__icon" src="./../../assets/svg/mysql.svg" alt="mysql">
        <h4 class="skill__title">mysql</h4>
      </div>
    </div>
  </div>
</section>
