<section class="section" id="anchor-technologies">
  <div class="section__blur">
    <h2 class="section__title">Tech</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, ut magni omnis quisquam nulla voluptas
      fugiat, dicta porro eligendi amet voluptates accusantium quasi aliquid quas consequuntur voluptatum adipisci
      laudantium quos laboriosam deserunt! Doloremque repellat id odio, magni cumque temporibus minus molestias minima
      expedita delectus provident tempore itaque voluptas eligendi, mollitia, necessitatibus quidem quas officiis animi
      explicabo nulla. Doloremque qui quia pariatur, recusandae in nam fugiat nostrum laudantium illo esse deserunt.
      Quidem cupiditate dolorem facere quibusdam aspernatur doloremque laudantium quisquam soluta modi perspiciatis rem,
      repellat, nesciunt nobis rerum libero tempore illum atque! Accusantium ullam, molestiae modi corrupti inventore
      debitis ex nemo ratione tenetur quae molestias est error nesciunt ducimus eaque assumenda perspiciatis cum
      architecto placeat, suscipit labore a? At incidunt, fugit amet, reprehenderit a accusamus nemo doloremque
      temporibus, iste doloribus cum nobis blanditiis fugiat ex omnis ut consectetur aliquam pariatur odio beatae est.
      At
      nulla laudantium rem dolor similique eos sunt eligendi ea nesciunt ratione provident natus aspernatur tempore et
      nisi facere quasi enim, quam, quis asperiores atque? In provident fuga possimus eius voluptate nobis autem labore
      dignissimos neque accusantium, dolor, quo voluptatibus eligendi? Nam nostrum praesentium inventore voluptates ea
      magni. Culpa expedita earum nostrum quaerat tempore magnam mollitia sed cumque!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, ut magni omnis quisquam nulla voluptas
      fugiat, dicta porro eligendi amet voluptates accusantium quasi aliquid quas consequuntur voluptatum adipisci
      laudantium quos laboriosam deserunt! Doloremque repellat id odio, magni cumque temporibus minus molestias minima
      expedita delectus provident tempore itaque voluptas eligendi, mollitia, necessitatibus quidem quas officiis animi
      explicabo nulla. Doloremque qui quia pariatur, recusandae in nam fugiat nostrum laudantium illo esse deserunt.
      Quidem cupiditate dolorem facere quibusdam aspernatur doloremque laudantium quisquam soluta modi perspiciatis rem,
      repellat, nesciunt nobis rerum libero tempore illum atque! Accusantium ullam, molestiae modi corrupti inventore
      debitis ex nemo ratione tenetur quae molestias est error nesciunt ducimus eaque assumenda perspiciatis cum
      architecto placeat, suscipit labore a? At incidunt, fugit amet, reprehenderit a accusamus nemo doloremque
      temporibus, iste doloribus cum nobis blanditiis fugiat ex omnis ut consectetur aliquam pariatur odio beatae est.
      At
      nulla laudantium rem dolor similique eos sunt eligendi ea nesciunt ratione provident natus aspernatur tempore et
      nisi facere quasi enim, quam, quis asperiores atque? In provident fuga possimus eius voluptate nobis autem labore
      dignissimos neque accusantium, dolor, quo voluptatibus eligendi? Nam nostrum praesentium inventore voluptates ea
      magni. Culpa expedita earum nostrum quaerat tempore magnam mollitia sed cumque!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur, ut magni omnis quisquam nulla voluptas
      fugiat, dicta porro eligendi amet voluptates accusantium quasi aliquid quas consequuntur voluptatum adipisci
      laudantium quos laboriosam deserunt! Doloremque repellat id odio, magni cumque temporibus minus molestias minima
      expedita delectus provident tempore itaque voluptas eligendi, mollitia, necessitatibus quidem quas officiis animi
      explicabo nulla. Doloremque qui quia pariatur, recusandae in nam fugiat nostrum laudantium illo esse deserunt.
      Quidem cupiditate dolorem facere quibusdam aspernatur doloremque laudantium quisquam soluta modi perspiciatis rem,
      repellat, nesciunt nobis rerum libero tempore illum atque! Accusantium ullam, molestiae modi corrupti inventore
      debitis ex nemo ratione tenetur quae molestias est error nesciunt ducimus eaque assumenda perspiciatis cum
      architecto placeat, suscipit labore a? At incidunt, fugit amet, reprehenderit a accusamus nemo doloremque
      temporibus, iste doloribus cum nobis blanditiis fugiat ex omnis ut consectetur aliquam pariatur odio beatae est.
      At
      nulla laudantium rem dolor similique eos sunt eligendi ea nesciunt ratione provident natus aspernatur tempore et
      nisi facere quasi enim, quam, quis asperiores atque? In provident fuga possimus eius voluptate nobis autem labore
      dignissimos neque accusantium, dolor, quo voluptatibus eligendi? Nam nostrum praesentium inventore voluptates ea
      magni. Culpa expedita earum nostrum quaerat tempore magnam mollitia sed cumque!</p>
  </div>
</section>
