<section class="section" id="anchor-works">
  <div class="section__blur">
    <h2 class="section__title">Works</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quidem sunt distinctio inventore quam, nobis
      minus
      doloremque corporis cupiditate? Optio vel natus dolore doloremque sit ducimus eius! Architecto voluptatem, beatae
      reiciendis atque dolores doloremque quisquam totam. Repudiandae asperiores animi a sapiente numquam amet eveniet
      iste fugiat. Veritatis possimus doloremque tempora?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quidem sunt distinctio inventore quam, nobis
      minus
      doloremque corporis cupiditate? Optio vel natus dolore doloremque sit ducimus eius! Architecto voluptatem, beatae
      reiciendis atque dolores doloremque quisquam totam. Repudiandae asperiores animi a sapiente numquam amet eveniet
      iste fugiat. Veritatis possimus doloremque tempora?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quidem sunt distinctio inventore quam, nobis
      minus
      doloremque corporis cupiditate? Optio vel natus dolore doloremque sit ducimus eius! Architecto voluptatem, beatae
      reiciendis atque dolores doloremque quisquam totam. Repudiandae asperiores animi a sapiente numquam amet eveniet
      iste fugiat. Veritatis possimus doloremque tempora?</p>
  </div>
</section>
