.projects__container {
  padding: 1rem;
  @include media-up(md) {
    padding: 3rem;
    max-width: 768px;
    margin: 0 auto;
  }
}

.splide__arrow {
  display: none;
  @include media-up(lg) {
    display: flex;
  }
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px solid $colorAccentDarkest;
  @include media-up(lg) {
    flex-direction: row;
    justify-content: space-around;
  }
  &__title {
    color: $colorAccent;
    margin-bottom: 1rem;
  }
  &__icon {
    margin: 0 auto;
    height: auto;
    max-width: 256px;
  }
  &__info {
    padding-left: 1rem;
  }
  a {
    color: $colorAccent;
    text-decoration: underline;
  }
}
