@import "./../init";

.section {
  width: 100%;
  margin-bottom: 4rem;
  position: relative;
  border: 1px solid $colorAccentDarkest;
  animation: borders-glow-out .5s ease-out;

  @include media-up(lg) {
    margin-bottom: 0;
  }

  &:hover {
    animation: borders-glow .5s ease-in-out;
    box-shadow: 0 0 2px #fff, 0 0 5px $colorAccentDark, 0 0 8px $colorAccent;
  }

  &-active {
    animation: borders-glow .5s ease-in-out;
    box-shadow: 0 0 2px #fff, 0 0 5px $colorAccentDark, 0 0 8px $colorAccent;
  }

  &__blur {
    padding: 1rem;
    background: $colorBgT;
    backdrop-filter: blur(2px);
    @include media-up(lg) {
      padding: 2rem;
    }
  }

  &__title {
    display: inline-block;
    text-align: left;
    margin-bottom: 2rem;
    padding-bottom: .5rem;

    @include media-up(lg) {
      margin-bottom: 0;
      padding-bottom: 0;
      position: absolute;
      top: 20px;
      left: 20px;
    }
  }
}

@keyframes borders-glow {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: 0 0 2px #fff, 0 0 5px $colorAccentDark, 0 0 8px $colorAccent;
  }
}

@keyframes borders-glow-out {
  0% {
    box-shadow: 0 0 2px #fff, 0 0 5px $colorAccentDark, 0 0 8px $colorAccent;
  }
  100% {
    box-shadow: none;
  }
}


