@import "./../init";

.side {
  position: fixed;
  width: 100%;
  top: 0;
  height: 60px;
  z-index: 90;
  background: $colorBgT;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  @include media-up(lg) {
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 60px;
    transform: translateX(0);
  }
  &__show {
    transform: translateX(0%);
  }
  &__close {
    display: block;
    @include media-up(lg) {
      display: none;
    }
  }
}

.side-bio {
  height: 60px;
  padding: 8px 20px;
  text-align: center;
  @include media-up(lg) {
    transform: rotateZ(-90deg);
    margin-bottom: 2rem;
    width: 150px;
    position: absolute;
    padding: 0;
    top: 100px;
    left: -25px;
    animation: all 1s ease;
  }
  &:hover {
    text-shadow: 0 0 2px #fff, 0 0 5px $colorAccentDark, 0 0 8px $colorAccent;
  }
}

.side-menu {
  display: flex;
  @include media-up(lg) {
    flex-direction: column;
  }
  &__item {
    display: block;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    color: inherit;
    min-width: 60px;
    &-active {
      border: 1px solid $colorAccent;
      color: $colorAccent;
    }
  }
}

