.skills {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}
.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  &__icon {
    height: 64px;
    max-width: 84px;
  }
  &__title {
    margin-top: .5rem;
    display: block;
    color: $colorAccent
  }
  &__popup {
    display: none;
  }
}
