@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Yomogi&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: 'PT Sans Narrow', sans-serif;
}
