// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1800px
);
// Base font size
$baseFontSize: 16px;

// Sizes for margin and padding
$sizes: ("1": 1rem, "2": 2rem, "3": 3rem, "4": 4rem);

// Theme colors
$colorBg: #0b0c0b;
$colorBgT: #0b0c0b33;
$colorBgT2: #0b0c0bdd;
$colorText: #c1c9c1;
$colorText2: #c5c6c8;
$colorAccent: #11f6b8;
$colorAccentDark: #0b9470;
$colorAccentDarkest: #063b2d;
